body{
    background-color: red;

color:whitesmoke;
background-image: url('./combine.jpg');
background-size: cover;



    font-size: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}